{% extends "default/module.html.jinja2" %}
{% block nav_title %}
    <div class="logo-area">
        <span class="logo-icon">&#9741;</span>
        <span class="logo-text">POS Next<span class="logo-subtitle">API Reference</span></span>
    </div>
{% endblock %}
{% block attribution %}{% endblock %}
